/* 
COLORES
verde agua: #31AFB4
blanco: #FFFFFF
*/

/*Importo archivos base*/
@import 'base/fonts';
@import 'base/variables'; 

/*Importo archivos de componentes de mi pag*/
@import 'components/header';
@import 'components/imgs-inicio';
@import 'components/nosotros-contacto';
@import 'components/preguntas';
@import 'components/servicios';
@import 'components/footer';


//Dejo los estilos más generales

/* Reseteo */
* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    /* para scrollear más lento entre secciones */
    scroll-behavior: smooth;
    max-width: 100%;
    
}

.bg-blanco{
    background-color: $color_base;
    a{
        color: $main_color_verde;
    }
}

.bg-verde{
    background-color:$main_color_verde;
}

html {
    /* para referenciar el position del footer */
    min-height: 100%;
    position: relative;
}

.body-verde{
    background-color: $main_color_verde;
    /*me queda la barra para scrollear horizontalmente y nose como sacarla ¿?*/
    /*defino el ancho del contenedor mas grande como el 100 de la pantalla*/
    max-width: 100%;
    min-height: 100%;

}

.body-blanco{
    background-color: $color_base;
    /*me queda la barra para scrollear horizontalmente y nose como sacarla ¿?*/
    /*defino el ancho del contenedor mas grande como el 100 de la pantalla*/
    max-width: 100%;
    min-height: 100%;
 

}



