/* FOOTER -------------------------------------------------------------- */

footer{
    /* el ancho y alto es acorde a la pantalla → uso vh y vw */
    height: auto;
    width: 100vw;
      

    /* fuente */
    color:$color_base;

    
    /* borde superior */
    border-top:double 5px  $color_base ;
   
    position: absolute;
    bottom: 0;

    .footer-info{
        @include disp_flex(flex, space-evenly, wrap);
        font-size: 0.8vw;  
        font-family: $main_font;
        font-weight: lighter;     
        @media only screen and (max-width:468px){
            font-size: 0.4rem;
            
        } 
    }

        & a{
            text-decoration: none;
            color: $color_base;
            font-family: $main_font;
            font-weight: lighter;
            @media only screen and (max-width:468px){
                font-size: 0.4rem;
                
        } 

        &:hover{
            color: blue;
        }
        
    }  

}




/* FIN FOOTER ---------------------------------------------------------- */